.attacker-login{
    background-color: #222830 !important;
    height: 100vh !important;
}
.attacker-panel{
    color: #fff;
}
.btn-hover.color-11 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
.nav-pills .red-item .red-link,
.admin-panel h3 {
  font-weight: 700 !important;
}
.red-pills .red-items .red-links {
  color: #fff !important;
}
.red-pills .red-links.active,
.red-pills .show > .red-links {
  color: #000;
  border-bottom: 2px solid rgb(255, 65, 65) !important;
  background-color: transparent !important;
}
.btn-hover {
  width: 180px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.content-views {
  background-color: #fae7e7;
  border: 1px solid rgb(255, 65, 65);
  border-radius: 10px;
}
.tags {
  background-color: rgb(255, 65, 65);
  color: white;
  font-weight: 600;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
}
